<mat-card class="example-card">
    <div style="height:10px;background-color: rgb(0,255,255,0.1);"></div>
    <mat-card-header>
      <mat-card-title>Tasking</mat-card-title>
      <button mat-icon-button style="padding:2px"><mat-icon color="accent">supervised_user_circle</mat-icon></button>
      <button mat-icon-button style="padding:2px"><mat-icon color="accent"> message</mat-icon></button>
      <button mat-icon-button style="padding:2px"><mat-icon color="accent"> mic</mat-icon></button>
      <button mat-icon-button style="padding:2px"><mat-icon color="accent"> music_video</mat-icon></button>
      <button mat-icon-button style="padding:2px"><mat-icon color="accent"> pause</mat-icon></button>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>