<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" >
    <mat-card class="example-card" *ngFor="let i of patientList" (load)="Color();" (click)="CardClick(i)">
      <mat-card-header [id]="i.id" class="header1" [style.background-color]="i.color" >
        <table style="width: 100%;">
          <tr>
            <td><mat-card-subtitle>{{i.name}}</mat-card-subtitle></td>
            <td style="text-align: right;"> <img mat-card-sm-image [src]="i.image"  style="width:25px;height:25px;border-radius: 50%;"></td>
          </tr>
        </table>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
  </mat-drawer>
  <mat-drawer-content class="example-sidenav-content">
    <table *ngIf="isVisible" style="height:100%;width:100%;">
      <tr style="height:5%">
        <app-header></app-header>
      </tr>
      <tr style="height:95%">
      <td style="vertical-align: top;width: 30%;"><app-profile  [patient]="patient"></app-profile></td>
      <td style="padding:5px;vertical-align: top;width: 40%;"> <app-tasking ></app-tasking>
        <app-message></app-message>
      </td>
      <td style="vertical-align: top;width: 30%;"><app-popularhealth></app-popularhealth></td>
      </tr>
      
    </table>
    
    
   
  </mat-drawer-content>
  
  
  
  <!-- <div class="example-sidenav-content">
    
  </div> -->
</mat-drawer-container>
<button type="button" mat-flat-button id="btnToggle" (click)="SlideClick(drawer)">
  <mat-icon>{{icon  ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}</mat-icon>
</button>